body{background-color: #efe9ae;}



h1 {
    color: coral;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    ;
    padding-left: 300px;
    padding-bottom: 30px;
    opacity: 1;
  
}

h2{color: rgb(184, 90, 56);}
p{opacity:100%;}

img {
    width: 700px;
    height: 350px;
    opacity: 0.3;
}
.pilt2{padding-left: 550px;
padding-right: 30px;
padding-top: 30px;}

.pildid {
    position: relative;
    top: 30px;
}


.uudised1 {
    position: absolute;
    top: 30px;
    right: 800px;
    font-size: 18px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    left: 30px;
    color: rgb(59, 11, 11);
    opacity: 1;
 
}

.uudised2 {
    position: absolute;
    top: 400px;
    right: 30px;
    font-size: 18px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    left: 800px;
    color: rgb(23, 5, 5) ;
    text-align: right;
}
.text{opacity: 100%;}






